body {
    margin: 5%;
    text-align: center;
}

form {
    border: 2px solid black;

}

.block form label {
    margin: 1%;
    display: block;
}

label {
    font-size: 30px;
}

input {
    width: 45%;
    height: 35px;
}

.block button {
    margin: 2%;
}

.success {
    font-size: 50px;
    color: green;
    border: 3px double green;
    display: inline;
    padding: 1% 2% 1% 2%;
}

.failure {
    font-size: 50px;
    color: #eb3434;
    border: 3px double #eb3434;
    display: inline;
    padding: 1% 2% 1% 2%;
}

input {
    margin: 1.5%;
}